<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 text-muted" href={% url 'catdisplay' 'World' %}>World</a>
      <a class="p-2 text-muted" href={% url 'catdisplay' 'Literature' %}>Literature</a>
      <a class="p-2 text-muted" href={% url 'catdisplay' 'Technology' %}>Technology</a>
      <a class="p-2 text-muted" href={% url 'catdisplay' 'History' %}>History</a>
      <a class="p-2 text-muted" href={% url 'catdisplay' 'Finance' %}>Finance</a>
      <a class="p-2 text-muted" href={% url 'catdisplay' 'Politics' %}>Politics</a>
      <a class="p-2 text-muted" href={% url 'catdisplay' 'Opinion' %}>Opinion</a>
      <a class="p-2 text-muted" href={% url 'catdisplay' 'Science' %}>Science</a>
      <a class="p-2 text-muted" href={% url 'catdisplay' 'Arts' %}>Arts</a>
    </nav>
  </div>